<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
    <div class="container-liquid">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
                    <a class="navbar-brand" href="#">SpringBoot</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                      <ul class="navbar-nav">
                        <li class="nav-item active">
                          <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" th:href="@{/listar}">Clientes</a>
                        </li>
                      </ul>
                    </div>
                  </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 th:text="${titulo}" class="border-danger border-bottom mb-3 py-3"></h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
              <div th:object="${cliente}" th:remove="tag">
                <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                  <li th:each="error : ${#fields.errors('*')}" th:text="${error}"></li>
                </ul>
              </div>
                <form id="form-registro" th:action="@{/form}" th:object="${cliente}" method="POST">
                    <div class="form-row">
                      <div class="col-md-12 mb-3">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" th:field="*{nombre}" th:errorclass="'form-control alert-danger'"/>
                        <div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="form-text text-danger"></div>
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="col-md-12 mb-3">
                        <label for="Apellido">Apellido</label>
                        <input id="Apellido" type="text" class="form-control" placeholder="Apellido" th:field="*{apellido}" th:errorclass="'form-control alert-danger'"/>
                        <div th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}" class="form-text text-danger"></div>
                        <div class="valid-feedback"></div>
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="col-md-12 mb-3">
                        <label for="correo">Email</label>
                        <input type="text" class="form-control" id="email" th:field="*{email}" th:errorclass="'form-control alert-danger'"/>
                        <div class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                        <div class="valid-feedback"></div>
                      </div>

                      <div class="form-row">
                        <div class="col-md-12 mb-3">
                          <label for="fecha">Fecha</label>
                          <input type="date" class="form-control" id="fecha" th:field="*{createAt}" th:errorclass="'form-control alert-danger'"/>
                          <div th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}" class="form-text text-danger"></div>
                          <div class="valid-feedback"></div>
                        </div>
                        
                    <input type="submit" value="Guardar" class="btn btn-danger" />
                  </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>    
</body>
</html>